.main_header {
    width: 100%;
    color: white;
    background-color: rgb(118,32,9);
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}

.main_header > h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}